h1, h2, h3, h4, h5, h6
{ color: skyblue;  background-color: yellow; padding: 10px 1px; margin: 30px; font-size: 40px; font-weight: 700px;}

p{color: white; background-color:blue; padding: 10px; margin: 10px; font-weight: 700;}